html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #333;
    background-color: #f1f1f1;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    .btn:hover {
        background-color: #ddd;
    }

/* Botones de ingreso al sistema */
.btn-cliente {
    width: 400px; /* Ancho */
    height: 100px; /* Altura */
}

.btn-empleado {
    width: 400px; /* Ancho */
    height: 100px; /* Altura */
}