@{
    ViewData["Title"] = "Login Empleado";
}

<div class="text-center">
    <h1 class="display-4">Hola Estimado Empleado</h1>
    <br />
    <h3>Selecciona la opcion que necesites.</h3>
    <br />

    <body>

        <!-- Botones de Login y Registro -->
        <div class="button-container">
            <form>
                <button class="btn" type="submit">Registro</button>
            </form>
            <form method="post">
                <button class="btn" type="submit">Loguearse</button>
            </form>
        </div>

        <!-- Formularios de Login y Registro -->
        <div class="form-container">
            <!-- Formulario de Registro -->
            <form action="/RegistroEmpleado" method="POST">
                <h3>Registro Empleado</h3>
                <label for="registro-nombre">Nombre:</label>
                <input type="text" id="registro-nombre" name="nombre" required>

                <label for="registro-password">Contraseña:</label>
                <input type="password" id="registro-password" name="password" required>

                <label for="registro-telefono">Teléfono:</label>
                <input type="tel" id="registro-telefono" name="telefono" required>

                <label for="registro-email">Email:</label>
                <input type="email" id="registro-email" name="email" required>

                <label for="registro-direccion">Dirección:</label>
                <input type="text" id="registro-direccion" name="direccion" required>

                <button type="submit">Registrar</button>
            </form>

            <!-- Formulario de Login -->
            <form action="/LoginEmpleado" method="POST">
                <h3>Login Cliente</h3>
                <label for="login-nombre">Nombre:</label>
                <input type="text" id="login-nombre" name="nombre" required>

                <label for="login-password">Contraseña:</label>
                <input type="password" id="login-password" name="password" required>

                <button type="submit">Ingresar</button>
            </form>
        </div>

    </body>


    <style>
        .button-container {
            display: flex;
            justify-content: space-around;
            margin: 20px;
        }

        .btn {
            font-size: 16px;
            cursor: pointer;
            border: 2px solid #333;
            background-color: #f1f1f1;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            padding: 10px 20px;
        }

            .btn:hover {
                background-color: #ddd;
            }

        /* Configuracion de Formularios */
        .form-container {
            display: flex;
            justify-content: space-around;
            margin: 20px;
        }

        form {
            width: 300px;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #f9f9f9;
        }

            form label {
                display: block;
                margin: 10px 0 5px;
                font-weight: bold;
            }

            form input {
                width: 100%;
                padding: 8px;
                margin-bottom: 10px;
                border-radius: 4px;
                border: 1px solid #ccc;
            }

            form button {
                width: 100%;
                padding: 10px;
                border: none;
                background-color: #333;
                color: white;
                border-radius: 4px;
                cursor: pointer;
            }

                form button:hover {
                    background-color: #555;
                }
    </style>
