@{
    ViewData["Title"] = "Crear Concierto";
}
<link rel="stylesheet" href="~/css/CrearConcierto.css" />
<h2>Crear Nuevo Concierto</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<form method="post" asp-action="CrearConcierto" asp-controller="Conciertos">
    <div class="form-group">
        <label for="nombre_concierto">Nombre del Concierto</label>
        <input type="text" class="form-control" id="nombre_concierto" name="nombre_concierto" required />
    </div>
    <div class="form-group">
        <label for="fecha_concierto">Fecha del Concierto</label>
        <input type="date" class="form-control" id="fecha_concierto" name="fecha_concierto" required />
    </div>
    <div class="form-group">
        <label for="ubicacion">Ubicación</label>
        <input type="text" class="form-control" id="ubicacion" name="ubicacion" required />
    </div>
    <button type="submit" class="btn btn-primary">Crear Concierto</button>
</form>

