@model List<TurnOver.Models.Historial>

@{
    ViewData["Title"] = "Lista de Compras";
    String UsuarioActual = Convert.ToString(TempData["usuario"]);
}

<link rel="stylesheet" href="~/css/Historial.css" />
<h2>Historial de Compras</h2>

@if (Model == null || !Model.Any())
{
    <p>No hay compras registradas.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Tipo Boleto</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Fecha y hora de la compra</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var historial in Model)
            {
                <tr>
                    <td>@UsuarioActual</td>
                    <td>@historial.TipoBoleto</td>
                    <td>@historial.CantBoletos</td>
                    <td>$@historial.total</td>
                    <td>@historial.fecha_historial.ToString("dd/MM/yyyy HH:mm")</td>
                </tr>
            }
        </tbody>
    </table>
}