@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/ClienteEmpleado.css" />

<div class="text-center">
    <h1 class="display-4">Bienvenido a "TurnOver"</h1>
    <br />
    <h3>El mejor servicio al precio más accesible.</h3>

    <br />
    <br />
    <h5>Escoge de que manera ingresas a nuestros servicios.</h5>

    <div class="button-container">
        <button class="btn btn-cliente" onclick="window.location.href='@Url.Action("ClienteEmpleado", "Home")'">Iniciar Sesion</button>
    </div>
</div>
